In [2]:
import pandas as pd

#scaricare il dataset in formato CSV oppure in formato JSON

dataset = pd.read_csv ("https://covid.ourworldindata.org/data/owid-covid-data.csv", low_memory = False)

In [3]:
dataset

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
313065,ZWE,Africa,Zimbabwe,2023-05-20,264848.0,0.0,3.857,5690.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
313066,ZWE,Africa,Zimbabwe,2023-05-21,264848.0,0.0,1.000,5690.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
313067,ZWE,Africa,Zimbabwe,2023-05-22,264848.0,0.0,0.000,5690.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
313068,ZWE,Africa,Zimbabwe,2023-05-23,264848.0,0.0,0.000,5690.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
313069,ZWE,Africa,Zimbabwe,2023-05-24,264848.0,0.0,0.000,5690.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN

In [4]:
#Si richiede di verificare le dimensioni del dataset e le diciture presenti nell'intestazione.
numero_righe = dataset.shape[0]
numero_colonne = dataset.shape[1]
print("Il dataset ha", numero_righe, "righe e", numero_colonne, "colonne.")

Il dataset ha 313070 righe e 67 colonne.

In [5]:
for colonna in dataset.columns:
    print(colonna)

iso_code
continent
location
date
total_cases
new_cases
new_cases_smoothed
total_deaths
new_deaths
new_deaths_smoothed
total_cases_per_million
new_cases_per_million
new_cases_smoothed_per_million
total_deaths_per_million
new_deaths_per_million
new_deaths_smoothed_per_million
reproduction_rate
icu_patients
icu_patients_per_million
hosp_patients
hosp_patients_per_million
weekly_icu_admissions
weekly_icu_admissions_per_million
weekly_hosp_admissions
weekly_hosp_admissions_per_million
total_tests
new_tests
total_tests_per_thousand
new_tests_per_thousand
new_tests_smoothed
new_tests_smoothed_per_thousand
positive_rate
tests_per_case
tests_units
total_vaccinations
people_vaccinated
people_fully_vaccinated
total_boosters
new_vaccinations
new_vaccinations_smoothed
total_vaccinations_per_hundred
people_vaccinated_per_hundred
people_fully_vaccinated_per_hundred
total_boosters_per_hundred
new_vaccinations_smoothed_per_million
new_people_vaccinated_smoothed
new_people_vaccinated_smoothed_per_hundred
stringency_index
population_density
median_age
aged_65_older
aged_70_older
gdp_per_capita
extreme_poverty
cardiovasc_death_rate
diabetes_prevalence
female_smokers
male_smokers
handwashing_facilities
hospital_beds_per_thousand
life_expectancy
human_development_index
population
excess_mortality_cumulative_absolute
excess_mortality_cumulative
excess_mortality
excess_mortality_cumulative_per_million

In [6]:
#Si chiede per ogni continente di trovare il numero di casi totali avvenuti
continenti = dataset[["continent","new_cases"]].groupby("continent").sum()
continenti

                 new_cases
continent
Africa          13089145.0
Asia           297460760.0
Europe         249444178.0
North America  124187478.0
Oceania         14123192.0
South America   68612891.0

In [8]:
'''Sempre riguardo i casi di COVID totali, si chiede di sviluppare una funzione che prenda in input 
il dataset e due nomi di
continenti, e che ne confronti i seguenti relativi descrittori statistici: valori minimo e massimo, 
media, e percentuale rispetto al
numero dei casi totali nel mondo (in questo caso calcolati anche sulle locazioni senza indicazione 
di continente).'''

casi_COVID = int(continenti.new_cases.sum())
print("Ci sono stati",casi_COVID, "casi nel mondo")

Ci sono stati 766917644 casi nel mondo

In [80]:
def statistiche_casi(df,cont_a, cont_b):   
    conts = [cont_a, cont_b]
    risultato = []
    for i in conts:
        casi_COVID = int(df.new_cases.sum())
        dati = dataset.loc[:,["continent", "new_cases"]]
        criterio= dataset.continent == i
        dati = dataset.loc[criterio][["continent", "new_cases"]]
        stats = dati.groupby("continent").aggregate(["min", "max", "mean", "sum"])
        stats[("new_cases",  "sum")] *= 100/casi_COVID 
        stats.columns = stats.columns.droplevel(0)
        stats.rename(columns = {'sum':'of_total'}, inplace = True)
        risultato.append(stats) 
    print(casi_COVID)
    return pd.concat(risultato)

In [81]:
pd.concat([statistiche_casi(dataset, "South America", "Oceania"), statistiche_casi(dataset, "Europe", "Asia")]).head(3)

3250608918
3250608918

               min       max         mean  of_total
continent
South America  0.0  298408.0  3963.771866  2.110770
Oceania        0.0  588813.0   475.400296  0.434478
Europe         0.0  500563.0  3953.657801  7.673768

In [89]:
def statistiche_vaccini(df,cont_a, cont_b):   
    conts = [cont_a, cont_b]
    risultato = []
    for i in conts:
        vaccini = int(df.new_vaccinations.sum())
        dati = dataset.loc[:,["continent", "new_vaccinations"]]
        criterio= dataset.continent == i
        dati = dataset.loc[criterio][["continent", "new_vaccinations"]]
        stats = dati.groupby("continent").aggregate(["min", "max", "mean", "sum"])
        stats[("new_vaccinations",  "sum")] /= vaccini
        stats[("new_vaccinations",  "sum")] *= 100
        stats.columns = stats.columns.droplevel(0)
        stats.rename(columns = {'sum':'of_total'}, inplace = True)
        risultato.append(stats)   
    return pd.concat(risultato)

In [90]:
pd.concat([statistiche_vaccini(dataset, "South America", "Oceania"), statistiche_vaccini(dataset, "Europe", "Asia")])

               min         max           mean   of_total
continent
South America  1.0   3976605.0  150541.749688   1.623935
Oceania        1.0    351226.0   56859.011442   0.143565
Europe         0.0   2389472.0   59940.289233   2.437102
Asia           0.0  24741000.0  509783.344320  14.536821

In Europa, le statistiche mostrano un alto numero di casi di COVID-19, ma con un tasso di vaccinazioni significativo. Nel Sud America, le infezioni sono state più diffuse, con una minore percentuale di vaccinazioni rispetto all'Europa. D'altra parte, l'Oceania ha registrato il minor numero di casi e una buona percentuale di vaccinazioni.